.card1 {
       background-color: #FFECEC;
}

.card2 {
       background-color: #d1f3ff;
}


.card3 {
       background-color: #ceffd5;
}

.card4 {
       background-color: #fccaff;
}

.card-body {

       padding: 11px 15px !important;


}

.dash-widget-header {

       flex-direction: column !important;
       align-items: flex-start !important;

}

span.dash-widget-icon-avatar {
       margin-left: -15px;
}

.dash-count {
       font-size: 18px;
       margin-left: 0;
       padding-top: 5px;
}