<!-- Settings Menu -->
<div class="widget settings-menu">
    <ul>
        <li class="nav-item">
            <a [routerLink]="'/setting/settings'" class="nav-link active" [class.active]="page === 'settings'">
                <i class="far fa-user"></i> <span class="ms-1">Profil personnel</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/preferences'" class="nav-link" [class.active]="page === 'preferences'">
                <i class="fas fa-cog"></i> <span class="ms-1">Préférences</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/tax-types'" class="nav-link" [class.active]="page === 'tax-types'">
                <i class="fas fa-church"></i> <span class="ms-1">Paroisse</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/expense-category'" class="nav-link" [class.active]="page === 'expense-category'">
                <i class="fas fa-pray"></i> <span class="ms-1">Ministères</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/notifications'" class="nav-link" [class.active]="page === 'notifications'">
                <i class="far fa-bell"></i> <span class="ms-1">Notifications</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/change-password'" class="nav-link" [class.active]="page === 'change-password'">
                <i class="fas fa-unlock-alt"></i> <span class="ms-1">Changer mot de passe</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/setting/delete-account'" class="nav-link" [class.active]="page === 'delete-account'">
                <i class="fas fa-ban"></i> <span class="ms-1">Supprimer le compte</span>
            </a>
        </li>
    </ul>
</div>
<!-- /Settings Menu -->