<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Nouveau Evènement</h3>
								<!-- <ul class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/index'">Dashboard</a></li>
									<li class="breadcrumb-item"><a [routerLink]="'/estimates/estimates-list'">Estimate</a></li>
									<li class="breadcrumb-item active">Add Estimate</li>
								</ul> -->
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<form (ngSubmit)="addEvent()" [formGroup]="addEventForm">
					<div class="row">
							<div class="col-md-6">
							<div class="card">
									<div class="card-header bg-white">
										<h5>Information 1</h5>
										<hr class="mt-3">
									</div>
									<div class="card-body pt-0">
										<div class="form-group mb-4">
											<label>Titre <span class="text-danger">*</span></label>
											<input type="text" class="form-control" formControlName="titre">
											<div *ngIf="submitted && f.titre.errors" class="text-danger">
												<small *ngIf="f.titre.errors.required">Le titre est requis</small>
											</div>
													</div>

										<div class="form-group mb-4">
											<label>Date <span class="text-danger">*</span></label>
											<div class="cal-icon">
												<input type="date" class="form-control" formControlName="date">
												<div *ngIf="submitted && f.date.errors" class="text-danger">
													<small *ngIf="f.date.errors.required">La date est requise</small>
												</div>
											</div>
														</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group mb-4">
													<label>De</label>
													<div class="time-icon">
														<input type="time" class="form-control" formControlName="heureDebut">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group mb-4">
													<label>À</label>
													<div class="time-icon">
														<input type="time" class="form-control" formControlName="heureFin">
													</div>
												</div>
											</div>
													</div>

										<div class="form-group mb-3">
											<div class="form-check form-check-inline">
												<input class="form-check-input" style="margin: 0.5px;"  type="radio" name="dureeType" id="eventAllDay" value="journee" formControlName="dureeType">
												<label class="form-check-label" for="eventAllDay">Événement toute la journée</label>
												</div>
											<div class="form-check form-check-inline ms-3">
												<input class="form-check-input" style="margin: 0.5px;"  type="radio" name="dureeType" id="eventMultipleDays" value="jours" formControlName="dureeType">
												<label class="form-check-label" for="eventMultipleDays">Événement de plusieurs jours</label>
											</div>
													</div>
												</div>
											</div>
										</div>

							<div class="col-md-6">
								<div class="card">
									<div class="card-header bg-white">
										<h5>Information 2</h5>
										<hr class="mt-3">
									</div>
									<div class="card-body pt-0">
										<div class="form-group mb-4">
											<label>Fréquentation <span class="text-danger">*</span></label>
											<select class="form-select" formControlName="frequentation">
												<option value="">Tout</option>
												<option value="enfants">Enfants</option>
												<option value="jeunes">Jeunes</option>
												<option value="adultes">Adultes</option>
												<option value="seniors">Seniors</option>
												<option value="tous">Tous les âges</option>
											</select>
											<div *ngIf="submitted && f.frequentation.errors" class="text-danger">
												<small *ngIf="f.frequentation.errors.required">La fréquentation est requise</small>
											</div>
										</div>

										<div class="form-group mb-4">
											<label>Visibilité <span class="text-danger">*</span></label>
											<select class="form-select" formControlName="visibilite">
												<option value="">Utilisateur</option>
												<option value="public">Public</option>
												<option value="prive">Privé</option>
												<option value="membres">Membres</option>
												<option value="invites">Sur invitation</option>
											</select>
											<div *ngIf="submitted && f.visibilite.errors" class="text-danger">
												<small *ngIf="f.visibilite.errors.required">La visibilité est requise</small>
											</div>
										</div>

										<div class="form-group mb-4">
											<label>Localisation</label>
											<div class="position-relative">
												<input type="text" class="form-control" formControlName="localisation">
												<span class="position-absolute top-50 end-0 translate-middle-y me-2">
													<i class="fas fa-map-marker-alt"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="submit-button-container">
							<button type="submit" class="btn btn-danger px-5">Créer</button>
					</div>
					</form>
				</div>
			</div>
			<!-- /Page Wrapper -->
